$primary-font: 'Red Hat Display', sans-serif;
$secondary-font: 'Heebo', sans-serif;

$color-primary: #794e04;
$neutral-darken1: #55596D;
$neutral-lighten1: #F5EEE1;
$color-neutral-100: #F1F2F6;
$white: #fafafa;